<div class="container-fluid blog-page">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
               (click)="toggleFullWidth()">
          <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
          <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
        </a> Blog</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/app/index']"><i class="icon-home"></i>Accueil</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/app/articles']"><i class="icon-calendar"></i> Blog</a></li>
          <li class="breadcrumb-item active">Blog</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-6">
      <div class="card single_post">
        <div class="body">
          <div class="img-post">
            <img class="d-block img-fluid" src="assets/images/blog/blog-page-1.jpg" alt="First slide">
          </div>
          <h3 class="titre-custom">Titre Kbir</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card single_post">
        <div class="body">
          <div class="img-post">
            <img class="d-block img-fluid" src="assets/images/blog/blog-page-1.jpg" alt="First slide">
          </div>
          <h3 class="titre-custom">Titre Sghir</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card single_post">
        <div class="body">
          <div class="img-post">
            <img class="d-block img-fluid" src="assets/images/blog/blog-page-1.jpg" alt="First slide">
          </div>
          <h3 class="titre-custom">Titre Sghir</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-3">
      <div class="card single_post">
        <div class="body">
          <div class="img-post">
            <img class="d-block img-fluid" src="assets/images/blog/blog-page-1.jpg" alt="First slide">
          </div>
          <h3 class="titre-custom">Titre Sghir</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card single_post">
        <div class="body">
          <div class="img-post">
            <img class="d-block img-fluid" src="assets/images/blog/blog-page-1.jpg" alt="First slide">
          </div>
          <h3 class="titre-custom">Titre Sghir</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card single_post">
        <div class="body">
          <div class="img-post">
            <img class="d-block img-fluid" src="assets/images/blog/blog-page-1.jpg" alt="First slide">
          </div>
          <h3 class="titre-custom">Titre Sghir</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card single_post">
        <div class="body">
          <div class="img-post">
            <img class="d-block img-fluid" src="assets/images/blog/blog-page-1.jpg" alt="First slide">
          </div>
          <h3 class="titre-custom">Titre Sghir</h3>
        </div>
      </div>
    </div>
  </div>
</div>
