<div class="container-fluid blog-page">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
					   (click)="toggleFullWidth()">
					<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
					<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
				</a> Accueil</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/app']"><i class="icon-home"></i> Accueil</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-lg-8 col-md-12 left-box" *ngIf="loading">
			Veuillez Patienter...
		</div>
		<div class="col-lg-8 col-md-12 left-box" *ngIf="!loading && feeds.length == 0">
			<button  class="btn btn-block mb-4 primary-zied" (click)="showAddPost = !showAddPost">Publier</button>
			<div class="card" *ngIf="showAddPost">
				<form [formGroup]="feedForm" (ngSubmit)="onFeedSubmit(feedForm.value)">
					<div class="header">
						<div class="col-md-8">
							<h2>Nouveau Post</h2>
						</div>
					</div>
					<div class="body">
						<div class="new_post">
							<div class="form-group">
								<input type="text" formControlName="titre" class="form-control no-resize" placeholder="Titre">
							</div>
							<div class="form-group">
							<textarea formControlName="contenu" rows="4" class="form-control no-resize"
									  placeholder="Quoi de neuf User ?"></textarea>
							</div>
							<div class="form-group">
								<label for="media-type">Type du Media</label>
								<select class="form-control" formControlName="type" id="media-type">
									<option value="image">Image</option>
									<option value="video">Video</option>
									<option value="youtube">Video Youtube</option>
								</select>
							</div>
							<div *ngIf="feedForm.value.type === 'image'" class="form-group">
								<label for="image">Image</label>
								<app-file-upload id="image" [type]="'image'" formControlName="image" [progress]="progress"></app-file-upload>
							</div>
							<div *ngIf="feedForm.value.type === 'video'" class="form-group">
								<label for="image">Video</label>
								<app-file-upload id="video" [type]="'image'" formControlName="video" [progress]="progress"></app-file-upload>
							</div>
							<div *ngIf="feedForm.value.type === 'youtube'" class="form-group">
								<label for="youtube-link">Youtube Link</label>
								<input id="youtube-link" class="form-control" formControlName="youtube" type="url">
							</div>
							<div class="post-toolbar-b">
								<button type="submit" class="btn primary-zied" [disabled]="!feedForm.valid">Publier</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="alert alert-primary">
				Vous n'avez Pas d'actualités...
			</div>
			<div class="card mt-5">
				<div class="body">
					<div>
						<h3>Evenements</h3>
						<ng-fullcalendar id="myCalendar" #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail, informations, 'md')" (eventDrop)="updateEvent($event.detail)"
										 (eventDestroy)="displayEvent"  (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-12 left-box" *ngIf="!loading && feeds.length > 0">
			<button class="btn primary-zied btn-block mb-4" (click)="showAddPost = !showAddPost">Publier</button>
			<div class="card" *ngIf="showAddPost">
				<form [formGroup]="feedForm" (ngSubmit)="onFeedSubmit(feedForm.value)">
					<div class="header">
						<div class="col-md-8">
							<h2>Nouveau Post</h2>
						</div>
					</div>
					<div class="body">
						<div class="new_post">
							<div class="form-group">
								<input type="text" formControlName="titre" class="form-control no-resize" placeholder="Titre">
							</div>
							<div class="form-group">
							<textarea formControlName="contenu" rows="4" class="form-control no-resize"
									  placeholder="Quoi de neuf User ?"></textarea>
							</div>
							<div class="form-group">
								<label for="media-type">Type du Media</label>
								<select class="form-control" formControlName="type" id="media-type">
									<option value="image">Image</option>
									<option value="video">Video</option>
									<option value="youtube">Video Youtube</option>
								</select>
							</div>
							<div *ngIf="feedForm.value.type === 'image'" class="form-group">
								<label for="image">Image</label>
								<app-file-upload id="image" [type]="'image'" formControlName="image" [progress]="progress"></app-file-upload>
							</div>
							<div *ngIf="feedForm.value.type === 'video'" class="form-group">
								<label for="image">Video</label>
								<app-file-upload id="video" [type]="'video'" formControlName="video" [progress]="progress"></app-file-upload>
							</div>
							<div *ngIf="feedForm.value.type === 'youtube'" class="form-group">
								<label for="youtube-link">Youtube Link</label>
								<input id="youtube-link" class="form-control" formControlName="youtube" type="url">
							</div>
							<div class="post-toolbar-b">
								<button type="submit" class="btn primary-zied" [disabled]="!feedForm.valid">Publier</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="scrollable-khalil">
				<div class="card single_post" *ngFor="let feed of feeds" [ngClass]="{'waiting-approval': feed.is_valid == false}">
					<div class="body">
						<div class="user-account">
							<img [src]="getUserImage(feed.owner)" class="rounded-circle user-photo" style="width: 60px;height: 60px;object-fit: cover;" alt="User Profile Picture">
							<div class="dropdown">
								<a class="user-name">
									<strong>{{feed.owner?.name}} {{feed.owner?.last_name}} <span *ngIf="getId() == feed.owner.id" class="badge badge-primary">c'est vous!</span></strong>
								</a>
								<span class="datetime">{{ago(feed.created_at)}}</span>
							</div>
							<div class="pull-right">
								<button *ngIf="feed.is_valid == false && ['ROLE_RH','ROLE_MARK'].includes(getRole())" type="button" (click)="onValidateEntry(feed.id)" class="btn btn-success m-r-10"><i class="fa fa-check"></i></button>
								<button *ngIf="feed.is_valid == false && ['ROLE_RH','ROLE_MARK'].includes(getRole())" type="button" (click)="onDismissEntry(feed.id)" class="btn btn-danger m-r-10"><i class="fa fa-times"></i></button>
							</div>
						</div>
<!--						<h3>-->
<!--							<a [routerLink]="['/app/singlefeed/' + feed.id]">{{feed.title}}</a>-->
<!--						</h3>-->
						<div class="img-post" *ngIf="feed.medias.length > 0">
							<img *ngIf="feed.medias[0].type === 'image' " [src]="getFeedMedia(feed.medias[0].path)" class="d-block img-fluid" alt="First slide">
							<video style="width: 100%; height: 300px;" *ngIf="feed.medias[0].type === 'video' " class="d-block img-fluid" controls>
								<source [src]="getFeedMedia(feed.medias[0].path)" type="video/mp4">
							</video>
							<iframe *ngIf="feed.medias[0].type === 'youtube' " style="width: 100%; height: 300px;" [src]="feed.medias[0].path" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="text-blog-cop" [innerHTML]="feed.description" ></div>
					</div>
					<div class="footer">
						<div class="actions">
							<button (click)="onLikeSubmit(feed.id)" class="btn btn-primary" style="margin-right: 5px;">
								<i [ngClass]="{'fa' : true, 'fa-thumbs-up': !isLiked(feed.id), 'fa-thumbs-down': isLiked(feed.id) }" style="color: white;margin-right: 2px;"></i>
								{{isLiked(feed.id) ? 'J\'aime plus' : 'J\'aime' }}
							</button>
							<a [routerLink]="['/app/singlefeed/' + feed.id]" class="btn btn-info"> <i class="fa fa-comment"></i> Commentaire</a>
						</div>
						<ul class="stats">
							<li><a class="icon-heart" style="color: red">{{feed.likes_count}}</a></li>
							<li><a class="icon-bubbles">{{feed.comments_count}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card mt-5">
				<div class="body">
					<div>
						<h3>Evenements</h3>
						<ng-fullcalendar id="myCalendar" #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail, informations, 'md')" (eventDrop)="updateEvent($event.detail)"
										 (eventDestroy)="displayEvent"  (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 right-box">
			<div class="card">
				<div class="header">
					<h2>Anniversaires Prochains</h2>
				</div>
				<div class="body" *ngIf="loading">
					Veuillez Patienter...
				</div>
				<div class="body" *ngIf="!loading && birthdays.length == 0">
					<div class="header">
						<div class="alert alert-primary">
							Aucun Anniversaire Trouvé
						</div>
					</div>
				</div>
				<div class="body" *ngIf="!loading && birthdays.length > 0">
					<div class="new_timeline" *ngFor="let group of birthdayDate()">
						<div class="header" style="background: none">
							<div class="color-overlay">
								<div class="day-number">{{getDate(group.date).getDate()}}</div>
								<div class="date-right">
									<div class="day-name">{{getDayName(getDate(group.date).getDay())}}</div>
									<div class="month">{{getMonthName(getDate(group.date).getMonth())}}</div>
								</div>
							</div>
						</div>
						<ul>
							<li *ngFor="let birthday of group.birthdays">
								<div class="bullet pink"></div>
								<div class="time">{{birthday.birthday.substring(11,16)}}</div>
								<div class="desc" *ngIf="getRole() != 'ROLE_PROFESSEUR' ">
									<div class="user-account" style="margin: 0;display: inline-flex">
										<img [src]="getUserImage(birthday)" class="rounded-circle user-photo" style="width: 50px;height: 50px;" alt="User Profile Picture">
										<div class="dropdown">
											<strong>{{birthday.name}} {{birthday.last_name}} </strong>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="header">
					<h2>Quiz du Jour</h2>
				</div>
				<div class="body" *ngIf="loading">
					Veuillez Patienter...
				</div>
				<div class="body" *ngIf="!loading && !question.answered">
					<form [formGroup]="quizForm" (ngSubmit)="onQuizSubmit(quizForm.value)">
						<h4>{{question.content}}</h4>
						<hr>
						<div class="form-check" *ngFor="let answer of question?.answers;let isFirst = first;" >
							<input class="form-check-input" formControlName="answer_id" type="radio" [value]="answer.id" [id]="'answer'+ answer.id" [checked]="isFirst">
							<label class="form-check-label" [htmlFor]="'answer'+ answer.id">
								{{answer.text}}
							</label>
						</div>
						<hr>
						<button type="submit" class="btn btn-success">Repondre & Voir Resultat</button>
					</form>
				</div>
				<div class="body" *ngIf="!loading && question.answered">
					<h4>{{question.content}}</h4>
					<hr>
					<ul class="list-unstyled list-referrals">
						<li *ngFor="let answer of question.answers">
							<p><span class="value">{{answer.text}}</span><span class="text-muted float-right">{{answer.answer_responses.length}}</span></p>
							<div class="progress progress-xs progress-transparent custom-color-blue">
								<div class="progress-bar" data-transitiongoal="87" aria-valuenow="87" [ngStyle]="{ 'width' : (( answer.answer_responses.length / question.responses_count ) * 100) + '%' }"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="header">
					<h2>Employée du mois</h2>
				</div>
				<div class="body" *ngIf="loading">
					Veuillez Patienter...
				</div>
				<div class="body" *ngIf="!loading && empofmounth">
					<div class="user-account" style="margin: 0">
						<img style="width: 50px;height: 50px; object-fit: cover;" [src]="getUserImage(empofmounth)" class="rounded-circle user-photo" alt="User Profile Picture">
						<div class="dropdown">
							<span>Félicitations,</span>
							<a href="javascript:void(0);" class="user-name" data-toggle="dropdown"><strong>{{empofmounth.name}} {{empofmounth.last_name}} </strong></a>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #deletemodal let-modal>
	<div class="modal-header">
		<h4 class="title" >Suppression d'un Post</h4>
	</div>
	<div class="modal-body">
		Etes vous sûr de vouloir supprimer le Post : <h2>{{selectedfeed.title}}</h2>
	</div>
	<div class="modal-footer">
		<button (click)="deleteFeed()" type="button" class="btn btn-danger">Oui</button>
		<button type="button" class="btn btn-simple" data-dismiss="modal" (click)="modal.dismiss('Close click')">Fermer</button>
	</div>
</ng-template>


<ng-template #content let-modal>
	<form>
		<div class="modal-header">
			<h4 class="title" id="defaultModalLabel">Ajouter un Examen</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<div class="form-line">
					<label for="datedev">Date Examen</label>
					<input id="datedev" type="datetime-local" class="form-control" formControlName="date" [min]="dateaujourdhui">
				</div>
			</div>
			<div class="form-group">
				<div class="form-line">
					<label>Classe</label>
					<select required formControlName="classe_id" class="form-control">
						<option value="" selected disabled>Selectionnez Classe</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="form-line">
					<label>Matiere</label>
					<select required formControlName="matiere_id" class="form-control">
						<option value="" selected disabled>Selectionnez Matiere</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="form-line">
					<label>Type</label>
					<select required formControlName="type" class="form-control ">
						<option value="" selected disabled>Selectionnez Type</option>
						<option value="controle">Devoir de controle</option>
						<option value="examen">Examen</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="form-line">
					<label>Coeficient</label>
					<input step="0.1" formControlName="coeficient" type="number" class="form-control" required placeholder="Coeficient">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Ajouter</button>
			<button type="button" class="btn btn-simple" data-dismiss="modal" (click)="modal.dismiss('Close click')">Fermer</button>
		</div>
	</form>
</ng-template>

<ng-template #informations let-modal>

	<div class="modal-header">
		<h4 class="title" >Informations Examen</h4>
	</div>
	<div class="modal-body">
		<ul class="list-group">
			<li class="list-group-item active">{{displayEvent.event.title}}</li>
			<li class="list-group-item">{{displayEvent.event.start}}</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button *ngIf="getRole() === 'ROLE_PROFESSEUR' " type="button" class="btn btn-danger">Supprimer</button>
		<button type="button" class="btn btn-simple" data-dismiss="modal" (click)="modal.dismiss('Close click')">Fermer</button>
	</div>
</ng-template>
