<div class="container-fluid">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a> Discussions</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/app']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item active">Discussions</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card chat-app">
				<div id="plist" class="people-list">
					<ul class="list-unstyled chat-list mt-2 mb-0">
						<li [ngClass]="{'active': him && him.id === user.id}" *ngFor="let user of users" class="clearfix" (click)="onClickContact(user.id)">
							<img style="width: 50px;height: 50px;object-fit: cover;"  [src]="getUserMedia(user.avatar)" alt="avatar" />
							<div class="about">
								<div class="name">{{user.name}} {{user.last_name}}</div>
							</div>
						</li>
					</ul>
				</div>
				<div *ngIf="him" class="chat">
					<div class="chat-header clearfix">
						<div class="row">
							<div class="col-lg-6">
								<a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
									<img [src]="getUserMedia(him.avatar)" alt="avatar" style="width: 40px;height: 40px; object-fit: cover;"/>
								</a>
								<div class="chat-about">
									<h6 class="m-b-0">{{him.name}} {{him.last_name}}</h6>
								</div>
							</div>
						</div>
					</div>
					<div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="chat-history" style="height: 270px;overflow-y: scroll;">
						<ul class="m-b-0">
							<li *ngFor="let message of messages" class="clearfix">
								<div [ngClass]="{'message-data': true, 'text-right': message.createdby_id === him.id}">
									<span class="message-data-time">{{ago(message.created_at)}}</span>
									<img *ngIf="message.createdby_id === him.id" [src]="getUserMedia(him.avatar)" style="width: 40px; height: 40px; object-fit: cover;" alt="avatar">
								</div>
								<div [ngClass]="{'message': true,'my-message': message.createdby_id === me.id, 'other-message': message.createdby_id === him.id, 'float-right': message.createdby_id === him.id}"> {{message.body}}
								</div>
							</li>
						</ul>
					</div>
					<div class="chat-message clearfix">
						<div class="input-group mb-0">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="icon-paper-plane"></i></span>
							</div>
							<input type="text" (keyup.enter)="onSubmitMessage()" [(ngModel)]="message" class="form-control" placeholder="Votre Message...">
						</div>
					</div>
				</div>
				<div *ngIf="!him" class="chat">
					<div class="chat-header clearfix">
						<div class="row">

						</div>
					</div>
					<div class="chat-history">
						<ul class="m-b-0">
							<p style="position: absolute;right: 0;left: 50%; top: 50%; bottom: 0; font-size: 20px; font-weight: bold">Selectionnez Destinataire</p>
						</ul>
					</div>
					<div class="chat-message clearfix">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
