<div class="container-fluid blog-page" #scrollMe>
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
               (click)="toggleFullWidth()">
          <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
          <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
        </a> {{article.title}}</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/app/index']"><i class="icon-home"></i>Accueil</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/app/articles']"><i class="icon-calendar"></i> Blog</a></li>
          <li class="breadcrumb-item active">{{article.title}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12 col-md-12">
      <div class="card single_post">
        <div class="body">
          <div class="user-account">
            <img [src]="getUserMedia(article.owner.avatar)" style="width: 50px;height: 50px;" class="rounded-circle user-photo" alt="User Profile Picture" >
            <div class="dropdown">
              <a href="javascript:void(0);" class="user-name">
                <strong>{{article.owner.name}} {{article.owner.last_name}}</strong>
              </a>
              <span class="datetime">{{ago(article.created_at)}}</span>
            </div>
          </div>
          <div class="img-post" *ngIf="article.medias.length > 0">
            <img *ngIf="article.medias[0].type === 'image' " [src]="getArticleMedia(article.medias[0].path)" class="d-block img-fluid" alt="First slide">
            <video style="width: 100%; height: 300px;" *ngIf="article.medias[0].type === 'video' " class="d-block img-fluid" controls>
              <source [src]="getArticleMedia(article.medias[0].path)" type="video/mp4">
            </video>
            <iframe *ngIf="article.medias[0].type === 'youtube' " style="width: 100%; height: 300px;" [src]="article.medias[0].path" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3>{{article.title}}</h3>
          <p [innerHTML]="article.content"></p>
        </div>
        <div class="footer">
          <button (click)="onLikeSubmit()" class="btn btn-primary" style="margin-right: 5px;">
            <i [ngClass]="{'fa' : true, 'fa-thumbs-up': !is_liked, 'fa-thumbs-down': is_liked }" style="color: white;margin-right: 2px;"></i>
            {{is_liked ? 'J\'aime plus' : 'J\'aime' }} ({{article.likes_count}})
          </button>
          <button (click)="onCommentClick()" class="btn btn-info">
            <i class="fa fa-comment" style="color: white;margin-right: 2px;"></i>
            Commentaire({{article.comments_count}})
          </button>
        </div>
      </div>
      <div class="card" *ngIf="article.comments_count > 0">
        <div class="header">
          <h2>Comments {{article.comments_count}}</h2>
        </div>
        <div class="body">
          <ul class="comment-reply list-unstyled">
            <li class="row clearfix" *ngFor="let comment of article.comments">
              <div class="icon-box col-md-2 col-4">
                <img style="width: 150px; height: 150px;object-fit: cover;" class="img-fluid img-thumbnail" [src]="getUserMedia(comment.owner.avatar)" alt="Awesome Image">
              </div>
              <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                <h5 class="m-b-0">{{comment.owner.name}} {{comment.owner.last_name}}
                  <div *ngIf="getId() == comment.createdby_id" style="display: inline;margin-left: 5px;">
                    <button type="button" (click)="onEditComment(comment);" class="btn btn-primary mr-2"><i class="fa fa-pencil"></i></button>
                    <button type="button" (click)="onCommentDelete(comment.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                  </div>
                </h5>
                <p *ngIf="!comment.is_editing" style="margin-top: 12px;">{{comment.content}}</p>
                <div *ngIf="comment.is_editing" style="padding: 15px;">
                  <div class="form-group">
                    <textarea class="form-control" [(ngModel)]="comment.content" cols="30" rows="5"></textarea>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-success" (click)="onCommentUpdate(comment)">Modifier</button>
                  </div>
                </div>
                <ul *ngIf="!comment.is_editing" class="list-inline">
                  <li><a href="javascript:void(0);">{{ago(comment.created_at)}}</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card" *ngIf="commentclicked">
        <div class="header">
          <h2>Laisser un commentaire</h2>
        </div>
        <div class="body">
          <div class="comment-form">
            <form class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <textarea #commentinput
                            (change)="doTextareaValueChange($event)" rows="4" class="form-control no-resize"
                            placeholder="Votre Commentaire..."></textarea>
                </div>
                <button (click)="onCommentSubmit()" type="button" class="btn btn-block btn-primary">Commenter!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
